.container{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .logo{
    font-size: 1.5rem ;
  }
  .logo > span {
    color: rgba(143,254,191,1);
  }