.dynamic {
  position: relative;
  display: inline-block;
}
.active {
  font-size: 4rem;
  margin-bottom: 1rem;
  height: 54px;
  line-height: 70px;
}
.active::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: black;
}
@media (max-width: 800px) {
  .active::after {
    position: relative;
    display: inline-block;
  }
}