.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.subTitle{
  font-size: 1rem;
  font-weight: 500;
  color: #6b7280;
  padding-top: 20px;
}