.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.subTitle{
  font-size: 20px;
  font-weight: 500;
  color: #6b7280;
}